# Fake data to protect privacy...
golferInfo = [
    { 'name': 'Kent', 'friends': ['Erik', 'Joe', 'Jeff', 'Reid', 'Brian'] },
    { 'name': 'Brandon', 'friends': ['Jay', 'Dan', 'Brady', 'James'] },
    { 'name': 'Erik', 'friends': ['Joe', 'Jeff', 'Reid', 'Brian'] },
    { 'name': 'Jay', 'friends': [] },
    { 'name': 'Joe', 'friends': [] },
    { 'name': 'Dan', 'friends': [] },
    { 'name': 'Jeff', 'friends': [] },
    { 'name': 'Brady', 'friends': [] },
    { 'name': 'Reid', 'friends': [] },
    { 'name': 'James', 'friends': [] },
]
